<footer>
  <div class="footer text-center">
    <div class="row">
      <img src="http://www.hrtechcongress.com/amsterdam/img/footer/hr-tech-world-logo.svg" alt="">
    </div>
    <div class="row footer-list">
      <ul class="list-inline">
        <li class="list-inline-item"><a href="">HRN</a></li>
        <li class="list-inline-item"><a href="">ABOUT</a></li>
        <li class="list-inline-item"><a href="">JOBS</a></li>
        <li class="list-inline-item"><a href="">CONTACT</a></li>
      </ul>
    </div>
    <div class="row footer-list">
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></li>
        <li class="list-inline-item"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></li>
        <li class="list-inline-item"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></li>
        <li class="list-inline-item"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></li>
        <li class="list-inline-item"><i class="fa fa-slideshare fa-2x" aria-hidden="true"></i></li>
        <li class="list-inline-item"><i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i></li>
      </ul>
    </div>
    <div class="row visible-xs-inline" >
      <ul>
        <li><span>HRN</span></li>
        <li><span><a href="">Terms & Conditions</a> | <a href="">Cookie Policy</a></span></li>
        <li><span>Copyright &copy; 2015 HRN Europe</span></li>
        <li><span>All Rights Reserved.</span></li>
      </ul>
    </div>
    <div class="row visible-sm-inline visible-md-inline visible-lg-inline" >
        <div>
          <span>HRN</span> | <span><a href="">Terms & Conditions</a> |
          <a href="">Cookie Policy</a></span> |
          <span>Copyright &copy; 2015 HRN Europe</span> |
          <span>All Rights Reserved.</span>
        </div>
    </div>
  </div>
</footer>
